 #zegarek {
     text-align: center;
     FONT-WEIGHT: bold;
     font-size: 75px;
     COLOR: rgb(0, 0, 0);
 }

 #current {
     margin-top: 10px;
 }

 #result {
     margin-top: 20px;
 }

 #realNow {
     text-align: center;
 }

 body {
     background-color: palegreen;
 }

 #dane {
     text-align: center;
     border: 1px solid silver;
     background: white;
     padding: 4px;
     border-radius: 3px;
     box-shadow: 1px 1px 3px silver;
     background-color: rgb(60, 134, 139);

 }

 #run {
     margin-top: 10px;
 }